<header>
    <a style="background-color: salmon; color: teal; padding: 7px 10px; border-radius: 10px; text-decoration: unset;" href="/">Home</a>
    <a style="background-color: salmon; color: teal; padding: 7px 10px; border-radius: 10px; text-decoration: unset;" href="/books">Books List</a>
    <% if(!isAdmin) { %>
    <a style="background-color: salmon; color: teal; padding: 7px 10px; border-radius: 10px; text-decoration: unset;" href="/user/borrowedBook">List borrowed books</a>
    <% } %>
    <a style="background-color: red; color: rgb(255, 255, 255); padding: 7px 10px; border-radius: 10px; text-decoration: unset; float: right;" href="/logout">Logout</a>
</header> 